<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534058034338-d2o4jekbkao68ukeebc9ub4f3v09tmu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534058034338-d2o4jekbkao68ukeebc9ub4f3v09tmu8</string>
	<key>API_KEY</key>
	<string>AIzaSyCok5SvtIvE_Hbk5IvSgfyUe0lvLmvrUWI</string>
	<key>GCM_SENDER_ID</key>
	<string>534058034338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.murpy.ios</string>
	<key>PROJECT_ID</key>
	<string>murpyprototype</string>
	<key>STORAGE_BUCKET</key>
	<string>murpyprototype.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534058034338:ios:a11464a6fd05b6a52b23fb</string>
	<key>DATABASE_URL</key>
	<string>https://murpyprototype-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>